main {
  display: flex;
  justify-content: center;
}

#submitSection {
  margin-top: 20px;
  text-align: center;
}

#difficultySection {
  margin: 20px;
  text-align: center;
}

h1,
#solutionSection {
  text-align: center;
}

input {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.incorrect {
  color: red;
  border: 1px solid red;
}

.correct {
  color: rgb(33, 219, 33);
}

.boldRow {
  border-top: 3px solid rgb(134, 107, 107);
  width: 512px;
}

.boldCol {
  border-left: 3px solid rgb(134, 107, 107);
}

.finalCol {
  border-right: 3px solid rgb(134, 107, 107);
}

.finalRow {
  border-bottom: 3px solid rgb(134, 107, 107);
  width: 512px;
}
